name: Keep HF Space Alive

on:
  schedule:
    - cron: '*/30 8-23 * * *'  # Mỗi 30 phút, từ 8h-23h
  workflow_dispatch:  # Cho phép chạy thủ công

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Random delay
        run: sleep $((RANDOM % 300))
      
      - name: Ping Hugging Face Space
        run: |
          curl -A "Mozilla/5.0" \
               -H "Accept: text/html" \
               https://huggingface.co/spaces/Rick-D/Khoa_luan
        continue-on-error: true
